<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>608132731672-nqcs0c53ptccnpmv0is1rt3kb5jc8aum.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.608132731672-nqcs0c53ptccnpmv0is1rt3kb5jc8aum</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>608132731672-4339963d5bkfd12ntgl8ucg3r786a836.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCfzkrLgry6BKeVmnrtMN_reObkiUgcUBU</string>
	<key>GCM_SENDER_ID</key>
	<string>608132731672</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fitbasixco.fitbasix.prod</string>
	<key>PROJECT_ID</key>
	<string>fitbitsix-d1493</string>
	<key>STORAGE_BUCKET</key>
	<string>fitbitsix-d1493.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:608132731672:ios:b52cb7b9689934f8ad046d</string>
</dict>
</plist>